*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.wrapper{
    max-width:1400px;
    margin:0 auto;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

html{
    body{
        font-family: 'Roboto', sans-serif;
        .header{
            
        }
    }
}